
  #lettersBox {
    width: 300px;
    height: 50px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 70%;
    text-align: center;
    overflow: hidden;
    font-size: 30px; }
  
  .wordsLine {
    width: 100%;
    height: 200px;
    border: 3px dotted green;
    text-align: center;
    margin-top: 10%;
    font-size: 50px; }
  
  #HintButton {
    border: 2px solid peachpuff; }
  
  #HintCircle {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 50%;
    text-align: center;
    font-size: 2em; }
  
  #category {
    width: 100%;
    text-align: center;
} 
  

  